{% extends "layout.html" %}
{% block content %}
    <h3 class="p-2">
        Дипломный проект
        <small class="text-muted">Балльно-рейтинговая система УГАТУ</small>
    </h3>
    <ul class="list-unstyled p-2">
        <li>В настоящее время требования к качеству знаний заставляют искать новые пути повышения эффективности системы
            обучения за счет такой организации учебного процесса, которая как можно более широко использовала бы
            творче-ский потенциал студентов. Такое повышение эффективности обучения возможно благодаря внедрению
            рейтинговой оценки знаний и стимулированию самостоятельной работы учащихся под руководством преподавателя. В
            отличие от традиционной, рейтинговая оценка направлена на разграничение уровня знаний студента. Это
            позволяет заметить даже небольшие изменения в составе предмета каждого ученика, сосредоточиться на
            стимулировании его работы в течение всего учебного года и обеспечить одинаковые методы определения качества
            образования, то есть характера знаний и дисциплины.
        </li>
        <br/>
        <li>В УГАТУ балльно-рейтинговая система внедрена достаточно давно, но любая система требует существенных
            изменений. В данном случае целью является создание сервиса, которое повысит эффективность оценивания
            студентов.
        </li>
        <br/>
        <li>Исходя из этого выделим задачи, которые необходимо разобрать в данной работе.</li>
        <br/>
        <ul>
            <li>Во-первых, необходимо проанализировать процесс обучения студентов и расписать аналитику
                балльно-рейтинговой
                системы
            </li>
            <li>Во-вторых, нужно написать программу, которая будет удовлетворять всем требованиям учебного процесса</li>
            <li>В-третьих, опубликовать базу на веб-сервере, при этом проанализировать быстродействие, систему хранения
                и
                т.п
            </li>
        </ul>
        <br/>
        <li><strong>Автор:</strong> Яхина Элина Эльмаровна</li>
        <li>Студент группы "ИКТ-424"</li>
        <li><strong>Дипломный руковолитель:</strong> Жданов Руслан Римович</li>

        <li>Со всеми вопросами и идеями по улучшению продукта обращаться:
            <ul>
                <li>Почта: elinamalinka20@gmail.com</li>
            </ul>
        </li>
    </ul>
{% endblock content %}