{% extends "layout.html" %}
{% block content %}
    <h3 class="p-2">
        Дипломный проект
        <small class="text-muted">Балльно-рейтинговая система УГАТУ</small>
    </h3>
    <ul class="list-unstyled p-2">
        <li><strong>Автор:</strong> Яхина Элина Эльмаровна</li>
        <li>Студент группы "ИКТ-424"</li>
        <li><strong>Дипломный руковолитель:</strong> Жданов Руслан Римович</li>
        <li>Со всеми вопросами и идеями по улучшению продукта обращаться:
            <ul>
                <li>Телефон:</li>
                <li>Почта:</li>
            </ul>
        </li>
    </ul>
{% endblock content %}