{% from 'card.html' import card %}

{% extends "student.html" %}
{% block right %}
{% if activity_by_user %}
<a class="btn btn-primary mt-1" href="{{ url_for('students.activity_new', activity_id=group_id) }}"
   role="button">
    Добавить
</a>
{% for item in activity_by_user %}
{% set buttons %}
<a href="{{ url_for('students.update_activity', activity_id=group_id, doc_id=item.id) }}"
   class="btn btn-outline-primary">Редактировать</a>
<a href="{{ url_for('students.delete_activity', activity_id=group_id, doc_id=item.id) }}"
   class="btn btn-outline-danger">Удалить</a>
{% endset %}
{{ card(item, buttons) }}
{% endfor %}
{% else %}
<p class="text-muted"> У вас еще нет ни одной активной деятельности <a class="text-muted"
                                                                       href="{{ url_for('students.activity_new', activity_id=group_id) }}">добавить?</a>
</p>
{% endif %}
{% endblock right %}