{% extends "layout.html" %}
{% block content %}
    <div class="card mb-3 m-2">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                <i class="bi bi-person" style="font-size: 7.25rem"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ full_name }}</h5>
                    <p class="card-text">Роль: {{ role }}</p>
                    {% if group_name %}
                        <p class="card-text">Группа: {{ group_name }}</p>
                    {% endif %}
                    <a class="text-muted" href="{{ url_for('account') }}">Сменить пароль?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}