{% extends "attendance.html" %}
{% block table %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Список</th>
                {% block thead %}{{ super() }}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for item in students %}
                <tr>
                    <th scope="row">{{ item.name }}</th>
                    {% for item_attendance in attendance %}
                        <td>
                            {% if attendance_id == item_attendance.id %}
                                {% if form[item.id].choices %}
                                    <div class="form-group">
                                        {% if form[item.id].errors %}
                                            {{ form[item.id](class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form[item.id].errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form[item.id](class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {% block attendance_grade scoped %}{{ super() }} {% endblock %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock %}

