{% extends "groups.html" %}
{% block thead %}
    {% for item in attendance %}
        <th scope="col">{{ item.date.strftime('%d/%m') }}</th>
    {% endfor %}
{% endblock %}
{% block tbody_td %}
    {% for item_attendance in attendance %}
        <td>
            {% if item[item_attendance.id] %}
                {% if item[item_attendance.id].active %}
                    <i class="bi bi-plus"></i>
                {% endif %}
            {% else %}
                <i class="bi bi-x-square-fill"></i>
            {% endif %}
        </td>
    {% endfor %}
{% endblock %}