{% from 'macros.html' import pageItem %}
{% extends "layout.html" %}
{% block content %}
    <nav aria-label="breadcrumb pt-1">
        <ol class="breadcrumb">
            {% if subject_name %}
                <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ subject_name }}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            {% endif %}
        </ol>
    </nav>
    <div class="row pt-2">
        <div class="col-md-4">
            {% for item in groups %}
                <div class="list-group list-group-flush">
                    {% if item.id == group_id %}
                        <a href="{{ url_for('tutors.get_attendance', subject_id=subject_id, group_id=item.id) }}"
                           class="list-group-item list-group-item-action active" aria-current="true">
                    {% else %}
                        <a href="{{ url_for('tutors.get_attendance', subject_id=subject_id, group_id=item.id) }}"
                           class="list-group-item list-group-item-action">
                    {% endif %}
                    {{ item.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs justify-content-end">
                {{ pageItem('Посещение',
                        url_for('tutors.get_attendance', subject_id=subject_id, group_id=group_id),
                        active_tab == 'attendance') }}
                {{ pageItem('Защита лабораторных',
                        url_for('tutors.get_labs', subject_id=subject_id, group_id=group_id),
                        active_tab == 'labs') }}
                {{ pageItem('Зачет / Экзамен',
                        url_for('tutors.get_grades', subject_id=subject_id, group_id=group_id),
                        active_tab == 'grade') }}
            </ul>
            <div class="row">
                {% if students %}
                    <div class="col">
                        {% block table %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Список</th>
                                    {% block thead %}{% endblock %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in students %}
                                    <tr>
                                        <th scope="row">{{ item.name }}</th>
                                        {% block tbody_td scoped %}{{ item }}{% endblock %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endblock table %}
                    </div>
                {% else %}
                    <p class="text-muted">Данных пока нет, обратитесь к администратору системы</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}