{% from 'fields.html' import fieldItem, submit %}
{% extends "admin.html" %}
{% block entity_content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>
            {{ fieldItem(form.subject, True) }}
            {{ fieldItem(form.group, True) }}
            {{ fieldItem(form.type, True) }}
            {{ fieldItem(form.date, False) }}
        </fieldset>
        {{ submit(form.submit) }}
    </form>
{% endblock %}